fieldset{
    height: 50px;
    width:100px;
    display:inline;
}
textarea
{
    border:0px;
    outline: 0px;
}
legend{
    text-align: center;
    font-size:20px;

}
li{
    font-size:20px;


}
ul
{

       display:inline-block;
}
.label{
    font-size:20px;
    display:block;
    margin-top: 20px;
}
input{
       height:40px;
       font-size: 20px;
}