#img
{
    width:200px;
    height:200px;
    border:10px solid blue;
    margin-left:200px;
    /*to hide */
    display:none;
}
#h1
{
    font-size: 40px;
    text-decoration:underline;
    word-spacing:10px;
    text-align:center;
}
#d1
{
    width:50%;
    height:400px;
    background-color: purple;
}
#d1:hover #img
{
    /*show image*/
    display:inline;
}
#flex-container
{
    width:60%;
    height:600px;
    background-color: cornflowerblue;
    float:right;
    clear:both;
    /*represent flex-container*/
    display:flex;
    flex-direction:row;   /* row ,column,row-reverse,column-reverse*/
    /*to represent space as well as change position horizontally*/
    justify-content: space-between;
    /*change position vertically*/
    align-items:flex-end;
    

}
.flex-item
{
    border-width:8px;
}
#item1
{
    height:7%;
    width:100%;
    background-color: blue;
}
#item2
{
    height:10%;
    width:150%;
    background-color: darkseagreen;
}
#item3
{
    height:15%;
    width:200%;
    background-color:coral;
}
#item4
{
    height:20%;
    width:250%;
    background-color: maroon;
}