#unordered
{
    font-size:30px;
    margin-top:20px;
}
li{
    margin-bottom: 20px;
}
li:first-child
{
background-color:purple;
width:40%;
}
li:last-child
{
    text-shadow: 0px 0px 10px red;
    letter-spacing: 20px;
}
li:nth-child(even)
{
    background-color: crimson;
    width:40%;
}
li:nth-child(odd)
{
    background-color:darkcyan;
    width:30%;
}
ul{
    list-style-type:none;
}
